<div class="container">
    <div class="row">
        <div class="col-md-3">
            
            <%= render 'list', book: @book %>
        
        </div>
        <div class="col-md-9" style="background-color: orange;">
             <h1>Books</h1>
             <table>
                 <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Opinion</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                        <td></td>
                        <% @books.each do |book| %>
                        <td><%= book.title %></td>
                        <td><%= book.body %></td>
                        <% end %>
                    </tr>
                 </tbody>
                 
             </table>
             
             
        </div>
    </div>
</div>